*{
    margin:0;padding:0;
    text-decoration :none !important;
    font-family: 'Courier New', Courier, monospace;
}
.my_relative{
    position:relative;
}
.my_absolute{
    position:absolute;
}
.icon-icon-test40:before{
    font-size:40px;
}
.icon-icon-test34,.icon-icon-test9,.icon-icon-test11{
    font-size:27px;
}

.zhong_kuan{
    margin-top:18px; 
    width:700px;
    padding-left:50px;
    padding-right:50px;  
    font-weight: 900;
}
.da_zhong{
    width:1200px;
    height:60px;
}
.juzhong{
    margin:0 auto;
}
.t_margin{
 top:0px !important;
}
.size_font{
    margin-top: 12px;
}

.qxhx{
  text-decoration:none !important;
}
.font_color{
    color:#000;
}
#d1>img{
    width: 32px;
    height: 32px;
    margin-top:13px;
}
.user_hover{
    width:290px;
    height:290px;
    background:#fff;
    border:1px solid #000;
    position: absolute;
    top:61px;
    right:325px;
}
.head_tou{
    position: relative;
}
.user_hover>div{
    width: 85%;
    margin:0 auto;
}
.user_hover>div>ul{
    list-style: none;
    /* margin-left:15px; */
}
.user_hover>div a{
    color:#828282;  
}
.user_hover>div>ul>li+li{
    border-top:1px solid rgb(143, 140, 140);
}
.user_hover>div li{
    padding-top:13px;
    margin-bottom:13px;
}
.user_hover>div li:first-child{
    margin-top:25px; 
}
.user_hover>div li:last-child{
    padding-top:50px;
}