*{
    margin:0;padding:0;
    text- :none !important;
}
.my_relative{
    position:relative;
}
.my_absolute{
    position:absolute;
}
.icon-icon-test40:before{
    font-size:40px;
}
.icon-icon-test34,.icon-icon-test9,.icon-icon-test11{
    font-size:27px;
}

.zhong_kuan{
    margin-top:18px; 
    width:700px;

}
.da_zhong{
    width:1200px;
    height:60px;
}
.juzhong{
    margin:0 auto;
}
.t_margin{
 top:0px !important;
}
.size_font{
    margin-top: 12px;
}

.qxhx{
  text-decoration:none !important;
}
.font_color{
    color:#000;
}
/* div>div.da_zhong>div>ul>li:hover{
    border-bottom:#eb0028  solid 2px;
    padding-bottom:1px; 
} */